*{



  
    }

.navbar{
font-size: 30px;

}

.continer {


border-bottom:0px;

}

.continer img{ 

width: 100px;
margin: 30px;

}
.navbar{
    font-size: 25px;

}
.logo img{
    width: 300px; 


}
.card img{

background-color: rgb(240, 231, 231);

}
.continerr img{

}