*{

    font-family: 'Noto Sans TC', sans-serif;

  
    }

.navbar{
font-size: 30px;

}

.continer {


border-bottom:0px;

}

.continer img{ 

width: 100px;
margin: 30px;

}
.navbar{
    font-size: 25px;

}
.logo img{
    width: 250px; 


}
.card img{

background-color: rgb(253, 253, 253);

}
.continerr img{
margin-left: 100px;
 width: 200px;   
}
.card-f img{
 
    opacity: 50%;
 height: 400px;
}
.card-e{

width: 300px;

}
article {
     min-height: 100%; 
     display: grid; 
     grid-template-rows: auto 1fr auto; 
}

footer {
    display: flex;
    justify-content: center;

    background-color: #45a1ff;
    color: rgb(237, 238, 228);
  
}