*{

    font-family: 'Noto Sans TC', sans-serif;

  
    }

.navbar{
font-size: 30px;

}

.continer {


border-bottom:0px;

}

.continer img{ 

width: 100px;
margin: 30px;

}
.navbar{
    font-size: 25px;

}
.logo img{
    width: 300px; 


}
.card img{

background-color: rgb(253, 253, 253);

}
.continerr img{
margin-left: 100px;
 width: 200px;   
}